{% extends 'base.html.twig' %}

{% block title %}URL shortener{% endblock %}


    {% block importmap %}
        {{ importmap(['app', 'url-shortener']) }}
    {% endblock %}


{% block body %}

<section class="url-shortener">
    <h1>URL Shortener</h1>
    <form id="url-shortener-form">
        <input class="text-input" type="text" name="url"/>
        <input class="btn btn-process" type="submit" value="Process">
    </form>

    <div class="area-wrapper">
        <div class="generated-url-area"></div>
        <img src="{{ asset('images/copy.svg') }}" alt="">
    </div>
    
</section>
{% endblock %}
