#word-form {
    width: 50%;
    margin: auto;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#word-form>.text-input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin-bottom: 2.5rem;
    text-align: center;
}

#word-form>.btn-input {
    font-size: 28px;
    margin-bottom: 2.5rem;
}

.area-wrapper {
    position: relative;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 2.5rem;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    pointer-events: none;
    cursor: pointer;
}

.area-wrapper:hover {
    border: 1px solid rgba(255, 255, 255, 0.428);
}
.area-wrapper.active  {
    border: 1px solid rgba(21, 179, 27, 0.428);
    animation: growth 0.4s; 
    animation-iteration-count: .4s; 
}
.area-wrapper.error  {
    border: 1px solid brown;
    animation: shake 0.4s; 
    animation-iteration-count: .4s; 
}

@keyframes growth {
    0% { transform: scale(1.05)}
    10% { transform: scale(1.10)}
    20% { transform: scale(1.15)}
    30% { transform: scale(1.20)}
    40% { transform: scale(1.25)}
    50% { transform: scale(1.30)}
    60% { transform: scale(1.25)}
    70% { transform: scale(1.20)}
    80% { transform: scale(1.15)}
    90% { transform: scale(1.10)}
    100% { transform: scale(1.05)}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img {
    padding: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    fill: #ffffff33;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
    height: 30px;
}


.generated-word-area {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
    text-align: center;
    transition: all .4s;
    pointer-events: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.6em;
}

.lifebar{
    position: relative;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 2.5rem;
    height: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.lifebar>.fill{
    background-color: green;
}

@media (max-width: 550px) {
    #url-shortener-form {
        width: 100%;

    }    
    .area-wrapper {
        width: 100%;

    }
}